<div class="main-wrapper">
    <h1>Développeur web full-stack passionné</h1>
    <p>
        Avec quelques années de programmations dans le dos, je me passionne dans le web à travers mon apprentissage et mes projets personnel, listé juste en dessous pour les curieux!
    </p>
    <p>
        Actuellement en <b>apprentissage</b> d'informatique en développement d'application en Suisse, à Genève j'utilise ma créativité pour créer tout type de site web, principalement interfactif.
    </p>
    <div class="socials">
        <ul>
            <li routerlink="https://github.com/Penkie"><img src="assets/icons/github.svg" alt="github"></li>
            <li href="mailto:oscar@oscarprince.ch"><img src="assets/icons/email.svg" alt="email"></li>
        </ul>
    </div>
</div>
<div class="seperation"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C150.00,150.00 442.15,24.17 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(5, 5, 5);"></path></svg></div>
<div class="secondary-content">
    <div class="content main-wrapper">
        <h2>Projets à la une</h2>
        <span class="sub-title">Mes derniers projets actifs</span>
        <div class="featured-projects">
            <div class="project" *ngFor="let project of projects">
                <div class="logo"><img [src]="project.image"></div>
                <div class="content">
                    <div class="title">{{ project.name }}</div>
                    <div class="description">{{ project.description }}</div>
                    <div class="status">Statut • <span [class.online]="project.status" [class.stopped]="!project.status">{{ project.status ? 'EN LIGNE' : 'ARRÊTÉ' }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>