<h1>Développeur web full-stack passionné</h1>
<p>
    Avec quelques années de programmations dans le dos, je me passionne dans le web à travers mon apprentissage et mes projets personnel, listé juste en dessous pour les curieux!
</p>
<p>
    Actuellement en <b>apprentissage</b> d'informatique en développement d'application en Suisse, à Genève j'utilise ma créativité pour créer tout type de site web, principalement interfactif.
</p>
<div class="socials">
    <ul>
        <li routerlink="https://github.com/Penkie"><img src="assets/icons/github.svg" alt="github"></li>
        <li href="mailto:oscar@oscarprince.ch"><img src="assets/icons/email.svg" alt="email"></li>
    </ul>
</div>