:host {
    nav {
        display: flex;
        justify-content: flex-end;

        .nav-links {
            justify-content: center;
            display: flex;
            margin: 25px 25px;

            div {
                padding: 5px 15px;
                margin: 0 2px;

                > .soon {
                    background-color: var(--background-hover);
                    font-size: 10px;
                    border-radius: var(--border-radius);
                    padding: 1.5px;
                }
                
                &:hover {
                    background-color: var(--background-hover);
                    cursor: pointer;
                    border-radius: 2px;
                }

            }

            .active {
                background-color: var(--background-hover);
            }
        }
    }

    .page-content {
        max-width: 1090px;
        margin: 0 auto;
    }
}